<div id="header-wrapper">
	<div id="header" class="container">
		
		<div id="menu">
			<ul>
				<li class=""><a href="/users/home">Homepage</a></li>
				<li><a href="/users/about_us">About Us</a></li>
				
				<li><a href="/users/join_us">Join Us</a></li>
				<li><a href="/users/contact_us">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="wrapper2">
<span id="aboutus">
	<div id="welcome" class="container">
		<div class="title">
		
			<h2>About Us</h2>
		</div>
		
		<p>Q Taskers is one of the fastest growing early stage start-up in India right now. We are solving a huge problem helping customers discover, vet and buy trusted local services on the internet. We are an internet marketplace for local services. As of now our services are limited only to electricians. With our promotion strategies founded on in-depth knowledge of regional markets, we provide the right professionals according to our client's needs. Our service providers are professionals who are at the top of their fields and immersed in local culture from your city. 
		What really sets us apart is our ability to solve the security issues. We hire only trusted and verified service providers as professionals and they happen to be from your own locality. We provide on-time services (every service provider will be at your door-step within an hour from booking otherwise free visit from our side is granted). We accept all basic methods of payment. These are the things which differentiate us from the others and make us perfectly suitable for the Indian market.
		We are staffed with young, passionate people working tirelessly to make a difference in the lives of people by catering to their service needs at their doorsteps. Be a part of our mission and give us a chance to serve you once. 
</p></span>
	</div>
</div>