<div id="header-wrapper">
  <div id="header" class="container">
    <div id="menu">
      <ul>
        <li class=""><a href="/users/home">Homepage</a></li>
        <li><a href="/users/about_us">About Us</a></li>
        <li><a href="/users/join_us">Join Us</a></li>
        <li><a href="/users/contact_us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="wrapper2">
<span id="contact">
  <div id="footer" class="container">
  <div class="grid-container">
    <div class="prefix-10 grid-80 suffix-10 tablet-grid-100 mobile-grid-100">
      <div>
        <header class="title">
          <h2>Get in touch</h2>
        </header>
      </div>
      <h5 class="section-heading-title1">Feel free to contact us at the below address</h5>
      <div class="grid-40">
        <!--<img src="images/contact.png"/><br/><br/>-->
        <br><br>
        <address>
          <strong>Corporate Office Address</strong><br>
          <i class="fa fa-map-marker icons"></i>NIIT University, NH 8, Delhi- Jaipur Highway,<br>
          <span class="aside">Neemrana, Rajasthan 301705<br>
          </span>qtaskers@gmail.com
        </address>
        <div class="phn"><i class="fa fa-phone icons"></i>+91 9473503761</div>
        <div class="phn"><i class="fa fa-envelope-o icons"></i><a href="mailto:qtaskers@gmail.com" class="link-a">Contact@ Q-Taskers</a></div>
        </address>
      </div>
      <div class="grid-60"> 
      </div>
      <!-- END Reservation Form --> 
      <!-- contact -->
      <!-- copyright -->
      <div class="copyright-agile">
        <p>&copy; 2017 Qtaskers. All rights reserved</p>
      </div>
      <!-- //copyright -->
    </div>
  </div>
  <div>
    <ul class="contact">
      <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
      <li><a href="#" class="icon icon-facebook"><span></span></a></li>
      <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
      <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
      <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
    </ul>
  </div>
  <div id="copyright" class="container">
    <p>&copy; 2017 Q-Taskers. All rights reserved. | Call: +919473503761 | Mail: qtaskers@gmail.com</a>.</p>
</span>
</div>