<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Q-Taskers</a></h1>
			<span> <a href="http://templated.co" rel="nofollow">is Coming Soon</a></span>
		</div>
		<div id="menu">
			<ul>
				<li class=""><a href="/users/home">Homepage</a></li>
				<li><a href="/users/about_us">About Us</a></li>
				
				<li><a href="/users/join_us">Join Us</a></li>
				<li><a href="/users/contact_us">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>