<div id="header-wrapper">
	<div id="header" class="container">
		
		<div id="menu">
			<ul>
				<li class=""><a href="/users/home">Homepage</a></li>
        <li><a href="/users/about_us">About Us</a></li>
        
        <li><a href="/users/join_us">Join Us</a></li>
        <li><a href="/users/contact_us">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>


<div id="wrapper3">
  <span id="career">
  	<div id="welcome2" class="container">
  		<div class="title">
  			<h2>Partnership Form</h2>
  		</div>
      <section id="vam-career" class="section-container"> 
        <div class="grid-container">
          <div> 
            <form id="vam-reservation-form" class="form-horizontal" action="/users/join_us_submit" method="POST">
              <div class="form-group">
                <div>
                  <div class="form-group">
                    <label for="shop_name" class="col-sm-12 control-label">Shop Name*</label>
                    <div class="col-sm-10">
                      <input type="text" name="shop_name" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="owner_name" class="col-sm-12 control-label">Shop Owner Name*</label>
                    <div class="col-sm-10">
                      <input type="text" name="owner_name" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address" class="col-sm-12 control-label">Address*</label>
                    <div class="col-sm-10">
                      <textarea type="text" name="address" id="address" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="phone_no" class="col-sm-12 control-label">Phone Number*</label>
                    <div class="col-sm-10">
                      <input type="tel" name="phone_number" id="res_phone" class="form-control">
                    </div>
                  </div>
                  <div style="text-align: left;">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="tvRepair"> TV/LCD/LED repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="laptopRepair"> Laptop/PC repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="washingMachineRepair"> Washing machine repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="refrigeratorRepair"> Refrigerator repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="geyserRepair"> Geyser/Water heater repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="acRepair"> AC/Cooler/Fan repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="lightsRepair"> Lights repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="invertersRepair"> Inverters/Generators repair
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="houseWiringRepair"> House wiring
                      </label>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="verification_code" class="col-sm-12 control-label">Verification Code* (Code given by the company with prior contact)</label>
                    <div class="col-sm-5">
                      <input type="text" name="verification_code" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <p>We will contact you as soon as possible</p>
                    </div>
                  </div>
                </div>  
              </div>   
            </form>
          </div>
        </div>
      </section>
    </div>
  </span>
</div>