<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : MetroBiz 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140207

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		
		<div id="menu">
			<ul>
				<li class=""><a href="home.html.erb" accesskey="1" title="">Homepage</a></li>
				<li><a href="about_us.html.erb" accesskey="2" title="">About Us</a></li>
				
				<li><a href="join_us.html.erb" accesskey="4" title="">Join Us</a></li>
				<li><a href="conta_us.html.erb" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>


<div id="wrapper3">
<span id="career">
	<div id="welcome" class="container">
		<div class="title">
		
			<h2>Partnership Form</h2>
		</div>
		
		
<h2>Skill(s) required</h2>: Basic knowledge of Internet, MS-Excel, English Proficiency (Spoken), English Proficiency (Written), Hindi Proficiency (Spoken), good communication skills.
Who can apply:
Only those candidates can apply who:
1.	are residents of Delhi NCR region or Kanpur city (Uttar Pradesh).
2.	are available for duration of 3 months (mandatory) from the day of start of their internship.
3.	are pursuing any degree but have relevant skills and interest.
4.	are currently in any year of study.
Selected intern's day-to-day responsibilities include:  
1)	Field visits to increase the number of service providers linked with us.
2)	Interact with business owners, manage their work online and direct them through the processes.
3)	Interact with top level management.
Perks: Certificate, Letter of recommendation, Informal dress code, Free snacks & beverages during the field work, incentives on every increase in number of service provider.
*This is a work from home internship and interested candidates will be selected after a telephonic interview. Fill in the form given below and we will contact you as soon as possible.

Form (link)</br>
<!-- START Section - Reservations -->
  <section id="vam-career" class="section-container"> 
    
    <!-- START Section Heading -->
    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
      <header class="section-heading">
        <h2 class="section-heading-title">Form</h2>
      </header>
    </div>
    <!-- END Section Heading -->
    
    <div class="grid-container">
      <div class="prefix-10 grid-80 suffix-10 tablet-grid-100 mobile-grid-100">
      <div class="grid-100"> 
          <!-- START Reservation Form -->
          <form id="vam-reservation-form" action="" method="post">
            <fieldset>
              <div class="grid-50 tablet-grid-50 mobile-grid-100"> 
                
                <!-- Name Field -->
                <p>
                  <label for="name">Name <span>*</span></label>
                  <input type="text" name="name" id="name" value="" required>
                </p>
                
                <!-- Email Field -->
                <p>
                  <label for="address">Address<span>*</span></label>
                  <input type="email" name="address" id="address" value="" required>
                </p>
                <p>
                  <label for="res_phone">Phone Number<span>*</span></label>
                  <input type="tel" name="res_phone" id="res_phone" value="" required>
                </p>
                
                <!-- Phone Number Field --> 
                
              
              </div>
              <div class="grid-50 tablet-grid-50 mobile-grid-100"> 
                
                <!-- Date Field -->
                <p>
                  <label for="subject">College<span>*</span></label>
                  <input type="text" name="subject" id="subject" value="" required>
                </p>
                <p>
                  <label for="res_email">Email<span>*</span></label>
                  <input type="email" name="res_email" id="res_email" value="" required>
                </p>
                <p>
                  <label for="res_mobile">Upload Your Resume<span>*</span></label>
                  
                  <input type="file" name="res_mobile" id="res_mobile" value="" style="clear:both; width:100%; border-radius:5px;" required>
             </p>
              
              </div>
              
            </fieldset>
          </form>
        </div>
        <!-- END Reservation Form --> 
        
        <!-- Form outcome contents. Generated through Ajax -->
        <div id="vam-reservation-form-outcome"></div>
      </div>
    </div>
  </section>
  <!-- END Section - Reservations --> </p>
  
  
  
    

</span>
	</div>
</div>
</body>
</html>
